@model Tranport_management_system.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VehName" class="control-label"></label>
                <input asp-for="VehName" class="form-control" />
                <span asp-validation-for="VehName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehNumber" class="control-label"></label>
                <input asp-for="VehNumber" class="form-control" />
                <span asp-validation-for="VehNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehModel" class="control-label"></label>
                <input asp-for="VehModel" class="form-control" />
                <span asp-validation-for="VehModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehStatus" class="control-label"></label>
                <input asp-for="VehStatus" class="form-control" />
                <span asp-validation-for="VehStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehColor" class="control-label"></label>
                <input asp-for="VehColor" class="form-control" />
                <span asp-validation-for="VehColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
