@model Tranport_management_system.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Vehicle Details</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            Vehicle Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehName)
        </dd>
        <dt class = "col-sm-2">
          Vehicle Model
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehModel)
        </dd>
        <dt class = "col-sm-2">
           Vehicle Status
        </dt>
        <dd class = "col-sm-10">
            Vehicle Status
        </dd>
        <dt class = "col-sm-2">
            Vehicle Color
        </dt>
        <dd class = "col-sm-10">
            Vehicle Color
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VehNumber" class="btn btn-secondary">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.VehNumber" class="btn btn-secondary">Delete</a>
    <a asp-action="Index"><input type="submit" value="Back to Details" class="btn btn-secondary" /></a>
</div>
