@model Tranport_management_system.Models.Vehicle

@{
    ViewData["Title"] = "Edit";
}


<h4 class="text-black">Update Vehicle Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="VehName" class="control-label"></label>
                <input asp-for="VehName" class="form-control" />
                <span asp-validation-for="VehName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="VehNumber" />
            <div class="form-group">
                <label asp-for="VehModel" class="control-label"></label>
                <input asp-for="VehModel" class="form-control" />
                <span asp-validation-for="VehModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehStatus" class="control-label"></label>
                <input asp-for="VehStatus" class="form-control" />
                <span asp-validation-for="VehStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehColor" class="control-label"></label>
                <input asp-for="VehColor" class="form-control" />
                <span asp-validation-for="VehColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary m-2">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
